//////////////Variables
$headerHeight: 3rem;

$mainColor: #d61c0d;
$darkColor: #141414;
$darkColorLight: #8a8a8a;
$darkColorLighter: #f2f2f2;
$whiteColor: #fff;

$bodyFont: "Poppins", sans-serif;
$bigFontSize: 1.25rem;
$biggerFontSize: 1.5rem;
$biggestFontSize: 2rem;
$normalFontSize: 0.95rem;
$smallerFontSize: 0.85rem;

$mb-1: 0.5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;
$mb-6: 3rem;

$rotateImg: rotate(-30deg);

@media screen and (min-width: 768px) {
  $bigFontSize: 1.5rem;
  $biggerFontSize: 2rem;
  $biggestFontSize: 3rem;
  $normalFontSize: 1rem;
  $smallerFontSize: 0.875rem;
}

/////////////////Globals and Resets
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  margin: $headerHeight 0 0 0;
  font-family: $bodyFont;
  font-size: $normalFontSize;
  font-weight: 500;
  color: $darkColor;
  line-height: 1.6;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
p,
ul {
  margin: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: $darkColor;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

//////////////////////////Preloader
.no-js .preloader {
  display: none;
}
.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  background: lightgrey;
  z-index: 99999;
}
.preloader .loader {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $mainColor transparent transparent transparent;
    &:nth-child(1) {
      animation-delay: -0.45s;
    }
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
//////////////Custom Styling
.section {
  padding: 5rem 0 2rem;
  &-title {
    position: relative;
    font-size: $bigFontSize;
    margin-bottom: $mb-4;
    text-align: center;
    letter-spacing: 0.1rem;
    &::after {
      content: "";
      position: absolute;
      width: 56px;
      height: 0.18rem;
      top: -1rem;
      left: 0;
      right: 0;
      margin: auto;
      background-color: $darkColor;
    }
  }
}

.btn {
  display: inline-block;
  background-color: $darkColor;
  color: $whiteColor;
  padding: 1.125rem 2rem;
  font-weight: 500;
  border-radius: 0.5rem;
  transition: 0.3s;
  &:hover {
    transform: translateY(-0.25rem);
  }
  &-light {
    display: inline-flex;
    color: $darkColor;
    font-weight: 700;
    align-items: center;
    &:hover {
      .btn-icon {
        transform: translateX(0.25rem);
      }
    }
  }
  &-icon {
    font-size: 1.25rem;
    margin-left: $mb-1;
    transition: 0.3s;
  }
}

/////////////////////Layouts
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: $whiteColor;
}
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: $mb-2;
  margin-right: $mb-2;
}

///////////////////////////Navs
.nav {
  height: $headerHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__item {
    margin-bottom: $mb-4;
  }
  &__logo span {
    color: $mainColor;
  }
  &__toggle,
  &__shop {
    font-size: 1.3rem;
    cursor: pointer;
  }
}
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: $headerHeight;
    left: -100%;
    width: 70%;
    height: 100vh;
    padding: 2rem;
    background-color: $whiteColor;
    transition: 0.5s;
  }
}

///////////////////////JS toggles
.show {
  left: 0;
}

/* Active Link */
.active {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 45%;
    width: 6px;
    height: 6px;
    background-color: $darkColor;
    border-radius: 50%;
  }
}

/* Change color Header */
.scroll-header {
  background-color: $whiteColor;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

////////////////////HOME
.home {
  background-color: $whiteColor;
  overflow: hidden;
  &__container {
    height: calc(100vh - $headerHeight);
  }
  &__hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  &__shape {
    width: 220px;
    height: 220px;
    background-color: $darkColor;
    border-radius: 50%;
  }
  &__img {
    position: absolute;
    top: 1.5rem;
    max-width: initial;
    width: 275px;
    transform: $rotateImg;
  }
  &__new {
    display: block;
    font-size: $smallerFontSize;
    font-weight: 600;
    margin-bottom: $mb-2;
    text-transform: uppercase;
  }
  &__title {
    font-size: $biggerFontSize;
    margin-bottom: $mb-1;
  }
  &__description {
    margin-bottom: $mb-6;
  }
}

//////////////////////////FEATURED SECTION
.featured__container {
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.sneaker {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: $whiteColor;
  border-radius: 0.5rem;
  transition: 0.3s;
  &:hover {
    transform: translateY(-0.5rem);
  }
  &__sale {
    position: absolute;
    left: -0.5rem;
    background-color: $darkColor;
    color: $whiteColor;
    padding: 0.25rem 0.5rem;
    font-size: $biggerFontSize;
    transform: rotate(-90deg);
    letter-spacing: 0.1rem;
    border-radius: 0.25rem;
  }
  &__img {
    width: 220px;
    margin-top: $mb-3;
    margin-bottom: $mb-6;
    transform: $rotateImg;
    filter: drop-shadow(0 12px 8px rgba(0, 0, 0, 0.5));
  }
  &__name,
  &__price {
    font-size: $bigFontSize;
    letter-spacing: 0.1rem;
    font-weight: 500;
  }
  &__name {
    margin-bottom: $mb-1;
  }
  &__price {
    margin-bottom: $mb-4;
  }
}

////////////////////////////COLLECTIONS SECTION
.collection__container {
  row-gap: 2rem;
  justify-content: center;
}

.collection__card {
  position: relative;
  display: flex;
  height: 328px;
  background-color: $whiteColor;
  padding: 2rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  &:hover {
    transform: translateY(-0.5rem);
  }
  &__data {
    align-self: flex-end;
  }
  &__img {
    position: absolute;
    top: 0;
    right: 0;
    width: 230px;
  }
  &__name {
    font-size: $biggerFontSize;
    margin-bottom: 0.25rem;
  }
  &__description {
    margin-bottom: $mb-2;
  }
}

/////////////////////////////WOMEN SECTION
.women__container {
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

/* Offer */

.offer {
  &__container {
    grid-template-columns: 55% 45%;
    column-gap: 0;
    background-color: $whiteColor;
    border-radius: 0.5rem;
    justify-content: center;
  }
  &__data {
    padding: 4rem 0 4rem 1.5rem;
  }
  &__title {
    font-size: $biggestFontSize;
    margin-bottom: 0.25rem;
  }
  &__description {
    margin-bottom: ---mb-3;
  }
  &__img {
    width: 153px;
  }
}

///////////////////////////////NEW SECTION
.new {
  &__container {
    row-gap: 2rem;
  }
  &__mens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $whiteColor;
    border-radius: 0.5rem;
    padding: 2rem;
    &-img {
      width: 276px;
      margin-bottom: $mb-3;
    }
  }
  &__title {
    font-size: $biggerFontSize;
    margin-bottom: 0.25rem;
  }
  &__price {
    display: block;
    margin-bottom: $mb-3;
  }
  &__sneaker {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    &-card {
      position: relative;
      padding: 3.5rem 1.5rem;
      background-color: $whiteColor;
      border-radius: 0.5rem;
      overflow: hidden;
      display: flex;
      justify-content: center;
    }
    &-img {
      width: 220px;
    }
    &-overlay {
      position: absolute;
      left: 0;
      bottom: -100%;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(138, 138, 138, 0.3);
      transition: 0.3s;
    }
  }
}
.new__sneaker-card:hover .new__sneaker-overlay {
  bottom: 0;
}

//////////////////////FEATURED SECTON
.newsletter {
  &__container {
    background-color: $darkColor;
    color: $whiteColor;
    padding: 2rem 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
  }

  &__title {
    font-size: $biggerFontSize;
    margin-bottom: $mb-2;
  }
  &__description {
    margin-bottom: $mb-5;
  }
  &__subscribe {
    display: flex;
    column-gap: 0.5rem;
    background-color: $whiteColor;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  &__input {
    outline: none;
    border: none;
    width: 90%;
    font-size: $normalFontSize;
    &::placeholder {
      color: $darkColor;
      font-family: $bodyFont;
      font-size: $normalFontSize;
      font-weight: 600;
    }
  }
}

/////////////////////////SHOP PAGE
.sneaker__pages {
  margin-top: $mb-6;
}

.sneaker__pag {
  padding: 0.5rem 1rem;
  border: 1px solid $darkColor;
  border-radius: 0.5rem;
  transition: 0.3s;
  &__pag:hover {
    background-color: $darkColor;
    color: $whiteColor;
  }
}

///////////////////////////////////FOOTER
.footer {
  padding: 5rem 0 2rem;
  &__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  &__box {
    margin-bottom: $mb-4;
  }
  &__title {
    font-size: $bigFontSize;
  }
  &__link {
    display: block;
    width: max-content;
    margin-bottom: $mb-1;
    transition: 0.3s;
    &:hover {
      text-decoration: underline;
    }
  }
  &__social {
    font-size: 1.5rem;
    margin-right: 1.25rem;
    color: $darkColorLight;
    transition: 0.3s;
    &:hover {
      color: $darkColor;
    }
  }
  &__copy {
    padding-top: 3rem;
    font-size: $smallerFontSize;
    color: $darkColorLight;
    text-align: center;
    cursor: pointer;
    &:hover {
      color: $darkColor;
    }
  }
}

///////////////////////////MEDIA QUERIES
@media screen and (min-width: 576px) {
  .collection__container {
    grid-template-columns: 415px;
  }

  .collection__img {
    width: 260px;
  }

  .offer__container {
    grid-template-columns: max-content max-content;
  }

  .offer__data {
    text-align: center;
  }

  .new__mens {
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding: 7rem 0;
  }

  .section-title::after {
    width: 76px;
  }

  .nav {
    height: calc($headerHeight + 1.5rem);
    display: flex;
    justify-content: space-between;
  }

  .nav__menu {
    margin-left: auto;
  }

  .nav__list {
    display: flex;
  }

  .nav__item {
    margin-left: $mb-6;
    margin-bottom: 0;
  }

  .nav__item:last-child {
    margin-right: $mb-4;
  }

  .nav__toggle {
    display: none;
  }

  .home__container {
    height: 100vh;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
  }

  .home__hero {
    order: 1;
  }

  .home__shape {
    width: 376px;
    height: 376px;
  }

  .home__img {
    width: 470px;
    top: 3.5rem;
    right: 0;
    left: -3rem;
  }

  .newsletter__container {
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
    padding: 4.5rem 2rem;
    column-gap: 3rem;
  }

  .newsletter__description {
    margin-bottom: 0;
  }

  .newsletter__subscribe {
    width: 360px;
    height: max-content;
  }
}

@media screen and (min-width: 768px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home__container {
    column-gap: 8rem;
  }

  .collection__container {
    grid-template-columns: repeat(2, 415px);
  }

  .new__container {
    grid-template-columns: max-content 1fr;
  }

  .new__mens {
    align-items: initial;
    justify-content: flex-end;
    padding: 4rem 2rem;
  }

  .new__mens-img {
    margin-bottom: $mb-6;
  }
}
